@font-face {
    font-family: 'Monocraft';
        src: url('../assets/fonts/Monocraft.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
  
html, body {
    margin: 0;
    background-color: var(--mat-sys-background);
    font-family: 'Monocraft';
}

p, h1, h2, h3, h4, h5, h6 {
    color: var(--mat-sys-on-background);
}