@use '@angular/material' as mat;
@use './_theme-colors' as theme-colors;

:root {
    &.light-blue-theme {
        color-scheme: light;
        @include mat.theme((
            color: (
                primary: theme-colors.$blue-primary-palette,
                tertiary: theme-colors.$blue-tertiary-palette,
                theme-type: light
            ),
            typography: 'Monocraft',
            density: 0
        ), $overrides: (
        ));
    }

    &.dark-blue-theme {
        color-scheme: dark;
        @include mat.theme((
            color: (
                primary: theme-colors.$blue-primary-palette,
                tertiary: theme-colors.$blue-tertiary-palette,
                theme-type: dark
            ),
            typography: 'Monocraft',
            density: 0
        ), $overrides: (    
            "background": #1a1d24,
            "surface-container-low": #1d2632      
        ));
    }

    &.light-red-theme {
        color-scheme: light;
        @include mat.theme((
            color: (
                primary: theme-colors.$red-primary-palette,
                tertiary: theme-colors.$red-tertiary-palette,
                theme-type: light
            ),
            typography: 'Monocraft',
            density: 0
        ), $overrides: (
        ));
    }

    &.dark-red-theme {
        color-scheme: dark;
        @include mat.theme((
            color: (
                primary: theme-colors.$red-primary-palette,
                tertiary: theme-colors.$red-tertiary-palette,
                theme-type: dark
            ),
            typography: 'Monocraft',
            density: 0
        ), $overrides: (
            "background": #241817,
            "surface-container-low": #2e1f1e
        ));
    }

    &.light-green-theme {
        color-scheme: light;
        @include mat.theme((
            color: (
                primary: theme-colors.$green-primary-palette,
                tertiary: theme-colors.$green-tertiary-palette,
                theme-type: light
            ),
            typography: 'Monocraft',
            density: 0
        ), $overrides: (
        ));
    }

    &.dark-green-theme {
        color-scheme: dark;
        @include mat.theme((
            color: (
                primary: theme-colors.$green-primary-palette,
                tertiary: theme-colors.$green-tertiary-palette,
                theme-type: dark
            ),
            typography: 'Monocraft',
            density: 0
        ), $overrides: (
            "background": #182220,
            "surface-container-low": #1d2627
        ));
    }

    &.light-yellow-theme {
        color-scheme: light;
        @include mat.theme((
            color: (
                primary: theme-colors.$yellow-primary-palette,
                tertiary: theme-colors.$yellow-tertiary-palette,
                theme-type: light
            ),
            typography: 'Monocraft',
            density: 0
        ), $overrides: (
        ));
    }

    &.dark-yellow-theme {
        color-scheme: dark;
        @include mat.theme((
            color: (
                primary: theme-colors.$yellow-primary-palette,
                tertiary: theme-colors.$yellow-tertiary-palette,
                theme-type: dark
            ),
            typography: 'Monocraft',
            density: 0
        ), $overrides: (
            "background": #242413
        ));
    }

    &.light-purple-theme {
        color-scheme: light;
        @include mat.theme((
            color: (
                primary: theme-colors.$purple-primary-palette,
                tertiary: theme-colors.$purple-tertiary-palette,
                theme-type: light
            ),
            typography: 'Monocraft',
            density: 0
        ), $overrides: (
        ));
    }

    &.dark-purple-theme {
        color-scheme: dark;
        @include mat.theme((
            color: (
                primary: theme-colors.$purple-primary-palette,
                tertiary: theme-colors.$purple-tertiary-palette,
                theme-type: dark
            ),
            typography: 'Monocraft',
            density: 0
        ), $overrides: (
            "background": #241824,
            "surface-container-low": #2e1f2e
        ));
    }
}