@use 'sass:map';
@use '@angular/material' as mat;

$_blue-palette: (
  primary: (
    0: #000000,
    10: #001c37,
    20: #00325a,
    25: #003d6c,
    30: #10497b,
    35: #225487,
    40: #306194,
    50: #4c7aaf,
    60: #6693ca,
    70: #81aee7,
    80: #a0c9ff,
    90: #d2e4ff,
    95: #eaf1ff,
    98: #f8f9ff,
    99: #fdfcff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #0b1c2f,
    20: #213145,
    25: #2d3c51,
    30: #38485d,
    35: #445469,
    40: #505f75,
    50: #68788f,
    60: #8292aa,
    70: #9cacc5,
    80: #b7c8e1,
    90: #d3e4fe,
    95: #eaf1ff,
    98: #f8f9ff,
    99: #fdfcff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #32053d,
    20: #4a1e54,
    25: #562960,
    30: #63356c,
    35: #6f4178,
    40: #7c4c85,
    50: #9765a0,
    60: #b37ebb,
    70: #cf98d7,
    80: #ecb3f4,
    90: #fdd6ff,
    95: #ffebfd,
    98: #fff7fa,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1a1c1f,
    20: #2e3034,
    25: #393b3f,
    30: #45474b,
    35: #515256,
    40: #5d5e62,
    50: #75777b,
    60: #8f9095,
    70: #aaabb0,
    80: #c6c6cb,
    90: #e2e2e7,
    95: #f0f0f5,
    98: #f9f9fe,
    99: #fdfcff,
    100: #ffffff,
    4: #0c0e12,
    6: #111317,
    12: #1e2023,
    17: #282a2e,
    22: #333539,
    24: #37393d,
    87: #d9dade,
    92: #e8e8ed,
    94: #ededf2,
    96: #f3f3f8,
  ),
  neutral-variant: (
    0: #000000,
    10: #171c23,
    20: #2c3138,
    25: #373c44,
    30: #42474f,
    35: #4e535b,
    40: #5a5f67,
    50: #727780,
    60: #8c919a,
    70: #a7abb5,
    80: #c2c7d0,
    90: #dee2ed,
    95: #edf1fb,
    98: #f8f9ff,
    99: #fdfcff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_blue-rest: (
  secondary: map.get($_blue-palette, secondary),
  neutral: map.get($_blue-palette, neutral),
  neutral-variant: map.get($_blue-palette,  neutral-variant),
  error: map.get($_blue-palette, error),
);

$blue-primary-palette: map.merge(map.get($_blue-palette, primary), $_blue-rest);
$blue-tertiary-palette: map.merge(map.get($_blue-palette, tertiary), $_blue-rest);

$_red-palette: (
  primary: (
    0: #000000,
    10: #3e040a,
    20: #5b191d,
    25: #692427,
    30: #782f31,
    35: #863a3c,
    40: #954647,
    50: #b35e5e,
    60: #d27677,
    70: #f19090,
    80: #ffb3b2,
    90: #ffdad9,
    95: #ffedec,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #301313,
    20: #492727,
    25: #553131,
    30: #623d3c,
    35: #704847,
    40: #7d5453,
    50: #986c6b,
    60: #b48584,
    70: #d19f9e,
    80: #efb9b8,
    90: #ffdad9,
    95: #ffedec,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #241a00,
    20: #3d2f00,
    25: #4a3900,
    30: #584400,
    35: #665000,
    40: #745b00,
    50: #907411,
    60: #ac8d2d,
    70: #c9a845,
    80: #e6c35d,
    90: #ffe08b,
    95: #ffefcd,
    98: #fff8f1,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #221a19,
    20: #372e2e,
    25: #433939,
    30: #4f4444,
    35: #5b504f,
    40: #675c5b,
    50: #807474,
    60: #9b8e8d,
    70: #b6a8a7,
    80: #d2c3c2,
    90: #efdfde,
    95: #fdedec,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
    4: #130c0c,
    6: #191211,
    12: #261e1d,
    17: #312828,
    22: #3c3332,
    24: #403737,
    87: #e6d6d6,
    92: #f5e5e4,
    94: #faeae9,
    96: #fff0ef,
  ),
  neutral-variant: (
    0: #000000,
    10: #261818,
    20: #3c2c2c,
    25: #483737,
    30: #544342,
    35: #604e4d,
    40: #6d5a59,
    50: #877271,
    60: #a28c8b,
    70: #bda6a5,
    80: #dac1c0,
    90: #f7dddb,
    95: #ffedec,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_red-rest: (
  secondary: map.get($_red-palette, secondary),
  neutral: map.get($_red-palette, neutral),
  neutral-variant: map.get($_red-palette,  neutral-variant),
  error: map.get($_red-palette, error),
);

$red-primary-palette: map.merge(map.get($_red-palette, primary), $_red-rest);
$red-tertiary-palette: map.merge(map.get($_red-palette, tertiary), $_red-rest);

$_green-palette: (
  primary: (
    0: #000000,
    10: #002108,
    20: #003913,
    25: #004619,
    30: #00531f,
    35: #006026,
    40: #006e2c,
    50: #008a39,
    60: #2ea550,
    70: #4ec168,
    80: #6bdd80,
    90: #88fb9a,
    95: #c6ffc7,
    98: #ebffe7,
    99: #f6fff1,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #002108,
    20: #0f3818,
    25: #1b4323,
    30: #274f2d,
    35: #335b38,
    40: #3e6843,
    50: #57815a,
    60: #709b72,
    70: #8ab68b,
    80: #a4d2a5,
    90: #c0eec0,
    95: #cefdcd,
    98: #ebffe7,
    99: #f6fff1,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #001b3c,
    20: #003061,
    25: #003b74,
    30: #004689,
    35: #00529d,
    40: #005eb3,
    50: #0b77dd,
    60: #3d91f9,
    70: #75adff,
    80: #a7c8ff,
    90: #d5e3ff,
    95: #ecf1ff,
    98: #f9f9ff,
    99: #fdfbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #171d17,
    20: #2c322b,
    25: #373d36,
    30: #424941,
    35: #4d544c,
    40: #596058,
    50: #727970,
    60: #8c9389,
    70: #a6ada3,
    80: #c2c8be,
    90: #dee4da,
    95: #ecf3e8,
    98: #f5fbf0,
    99: #f8fef3,
    100: #ffffff,
    4: #0a100a,
    6: #0f150f,
    12: #1b211b,
    17: #252c25,
    22: #30362f,
    24: #343b33,
    87: #d5dcd1,
    92: #e4eadf,
    94: #e9f0e5,
    96: #eff6eb,
  ),
  neutral-variant: (
    0: #000000,
    10: #131e14,
    20: #283328,
    25: #333e33,
    30: #3e4a3e,
    35: #4a5549,
    40: #566254,
    50: #6e7a6c,
    60: #889485,
    70: #a2af9f,
    80: #bdcaba,
    90: #d9e6d5,
    95: #e7f4e3,
    98: #f0fdec,
    99: #f6fff1,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_green-rest: (
  secondary: map.get($_green-palette, secondary),
  neutral: map.get($_green-palette, neutral),
  neutral-variant: map.get($_green-palette,  neutral-variant),
  error: map.get($_green-palette, error),
);

$green-primary-palette: map.merge(map.get($_green-palette, primary), $_green-rest);
$green-tertiary-palette: map.merge(map.get($_green-palette, tertiary), $_green-rest);


$_yellow-palette: (
  primary: (
    0: #000000,
    10: #1c1d00,
    20: #313300,
    25: #3c3e00,
    30: #484a00,
    35: #535600,
    40: #5f6200,
    50: #787c00,
    60: #929700,
    70: #adb219,
    80: #c9ce38,
    90: #e5ea53,
    95: #f4f960,
    98: #fdffa2,
    99: #fffbff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #1c1d00,
    20: #313300,
    25: #3c3e08,
    30: #484914,
    35: #53551f,
    40: #60612a,
    50: #797a40,
    60: #939457,
    70: #adaf6f,
    80: #c9cb87,
    90: #e5e7a1,
    95: #f4f5ae,
    98: #fdfeb6,
    99: #fffbff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #012200,
    20: #013a00,
    25: #024600,
    30: #035300,
    35: #086003,
    40: #1b6d12,
    50: #38872b,
    60: #52a242,
    70: #6cbe5a,
    80: #87da73,
    90: #a2f78c,
    95: #cbffb8,
    98: #edffe1,
    99: #f7ffee,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1c1c12,
    20: #313126,
    25: #3c3c31,
    30: #48473c,
    35: #545347,
    40: #605f52,
    50: #79786a,
    60: #939183,
    70: #adac9d,
    80: #c9c7b7,
    90: #e5e3d3,
    95: #f4f1e1,
    98: #fdfae9,
    99: #fffbff,
    100: #ffffff,
    4: #0e0f06,
    6: #14140b,
    12: #202016,
    17: #2b2b20,
    22: #36352a,
    24: #3a3a2f,
    87: #dddacb,
    92: #ebe9d8,
    94: #f1eede,
    96: #f7f4e4,
  ),
  neutral-variant: (
    0: #000000,
    10: #1c1c0d,
    20: #313120,
    25: #3c3c2a,
    30: #484835,
    35: #545340,
    40: #605f4b,
    50: #797863,
    60: #93927b,
    70: #adac95,
    80: #c9c8af,
    90: #e5e4ca,
    95: #f4f2d8,
    98: #fdfbe0,
    99: #fffbff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_yellow-rest: (
  secondary: map.get($_yellow-palette, secondary),
  neutral: map.get($_yellow-palette, neutral),
  neutral-variant: map.get($_yellow-palette,  neutral-variant),
  error: map.get($_yellow-palette, error),
);

$yellow-primary-palette: map.merge(map.get($_yellow-palette, primary), $_yellow-rest);
$yellow-tertiary-palette: map.merge(map.get($_yellow-palette, tertiary), $_yellow-rest);