@use 'sass:map';
@use '@angular/material' as mat;

$_blue-palette: (
  primary: (
    0: #000000,
    10: #001c37,
    20: #00325a,
    25: #003d6c,
    30: #10497b,
    35: #225487,
    40: #306194,
    50: #4c7aaf,
    60: #6693ca,
    70: #81aee7,
    80: #a0c9ff,
    90: #d2e4ff,
    95: #eaf1ff,
    98: #f8f9ff,
    99: #fdfcff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #0b1c2f,
    20: #213145,
    25: #2d3c51,
    30: #38485d,
    35: #445469,
    40: #505f75,
    50: #68788f,
    60: #8292aa,
    70: #9cacc5,
    80: #b7c8e1,
    90: #d3e4fe,
    95: #eaf1ff,
    98: #f8f9ff,
    99: #fdfcff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #32053d,
    20: #4a1e54,
    25: #562960,
    30: #63356c,
    35: #6f4178,
    40: #7c4c85,
    50: #9765a0,
    60: #b37ebb,
    70: #cf98d7,
    80: #ecb3f4,
    90: #fdd6ff,
    95: #ffebfd,
    98: #fff7fa,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1a1c1f,
    20: #2e3034,
    25: #393b3f,
    30: #45474b,
    35: #515256,
    40: #5d5e62,
    50: #75777b,
    60: #8f9095,
    70: #aaabb0,
    80: #c6c6cb,
    90: #e2e2e7,
    95: #f0f0f5,
    98: #f9f9fe,
    99: #fdfcff,
    100: #ffffff,
    4: #0c0e12,
    6: #111317,
    12: #1e2023,
    17: #282a2e,
    22: #333539,
    24: #37393d,
    87: #d9dade,
    92: #e8e8ed,
    94: #ededf2,
    96: #f3f3f8,
  ),
  neutral-variant: (
    0: #000000,
    10: #171c23,
    20: #2c3138,
    25: #373c44,
    30: #42474f,
    35: #4e535b,
    40: #5a5f67,
    50: #727780,
    60: #8c919a,
    70: #a7abb5,
    80: #c2c7d0,
    90: #dee2ed,
    95: #edf1fb,
    98: #f8f9ff,
    99: #fdfcff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_blue-rest: (
  secondary: map.get($_blue-palette, secondary),
  neutral: map.get($_blue-palette, neutral),
  neutral-variant: map.get($_blue-palette,  neutral-variant),
  error: map.get($_blue-palette, error),
);

$blue-primary-palette: map.merge(map.get($_blue-palette, primary), $_blue-rest);
$blue-tertiary-palette: map.merge(map.get($_blue-palette, tertiary), $_blue-rest);

$_red-palette: (
  primary: (
    0: #000000,
    10: #410005,
    20: #68000c,
    25: #7d0011,
    30: #8f0d19,
    35: #a01d24,
    40: #b12a2e,
    50: #d44344,
    60: #f65c5a,
    70: #ff8983,
    80: #ffb3ae,
    90: #ffdad7,
    95: #ffedeb,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #3d0508,
    20: #5a1b1a,
    25: #682524,
    30: #77302e,
    35: #853c39,
    40: #944744,
    50: #b25f5b,
    60: #d17873,
    70: #f0918c,
    80: #ffb3ae,
    90: #ffdad7,
    95: #ffedeb,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #2b1700,
    20: #472a00,
    25: #563400,
    30: #653e00,
    35: #754800,
    40: #865300,
    50: #a76900,
    60: #c68220,
    70: #e59c3a,
    80: #ffb960,
    90: #ffddb8,
    95: #ffeede,
    98: #fff8f4,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #261817,
    20: #3c2d2b,
    25: #483736,
    30: #544341,
    35: #604e4d,
    40: #6d5a58,
    50: #877271,
    60: #a18c8a,
    70: #bda6a4,
    80: #d9c1bf,
    90: #f6ddda,
    95: #ffedeb,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
    4: #170b0a,
    6: #1d100f,
    12: #2a1c1b,
    17: #352625,
    22: #413130,
    24: #463534,
    87: #eed4d2,
    92: #fce2e0,
    94: #ffe9e7,
    96: #fff0ef,
  ),
  neutral-variant: (
    0: #000000,
    10: #2a1615,
    20: #412b29,
    25: #4d3634,
    30: #59413f,
    35: #664c4a,
    40: #735856,
    50: #8d706e,
    60: #a88987,
    70: #c4a4a1,
    80: #e1bfbc,
    90: #fedad7,
    95: #ffedeb,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_red-rest: (
  secondary: map.get($_red-palette, secondary),
  neutral: map.get($_red-palette, neutral),
  neutral-variant: map.get($_red-palette,  neutral-variant),
  error: map.get($_red-palette, error),
);

$red-primary-palette: map.merge(map.get($_red-palette, primary), $_red-rest);
$red-tertiary-palette: map.merge(map.get($_red-palette, tertiary), $_red-rest);

$_green-palette: (
  primary: (
    0: #000000,
    10: #002108,
    20: #003913,
    25: #004619,
    30: #00531f,
    35: #006026,
    40: #006e2c,
    50: #008a39,
    60: #2ea550,
    70: #4ec168,
    80: #6bdd80,
    90: #88fb9a,
    95: #c6ffc7,
    98: #ebffe7,
    99: #f6fff1,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #002108,
    20: #0f3818,
    25: #1b4323,
    30: #274f2d,
    35: #335b38,
    40: #3e6843,
    50: #57815a,
    60: #709b72,
    70: #8ab68b,
    80: #a4d2a5,
    90: #c0eec0,
    95: #cefdcd,
    98: #ebffe7,
    99: #f6fff1,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #001b3c,
    20: #003061,
    25: #003b74,
    30: #004689,
    35: #00529d,
    40: #005eb3,
    50: #0b77dd,
    60: #3d91f9,
    70: #75adff,
    80: #a7c8ff,
    90: #d5e3ff,
    95: #ecf1ff,
    98: #f9f9ff,
    99: #fdfbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #171d17,
    20: #2c322b,
    25: #373d36,
    30: #424941,
    35: #4d544c,
    40: #596058,
    50: #727970,
    60: #8c9389,
    70: #a6ada3,
    80: #c2c8be,
    90: #dee4da,
    95: #ecf3e8,
    98: #f5fbf0,
    99: #f8fef3,
    100: #ffffff,
    4: #0a100a,
    6: #0f150f,
    12: #1b211b,
    17: #252c25,
    22: #30362f,
    24: #343b33,
    87: #d5dcd1,
    92: #e4eadf,
    94: #e9f0e5,
    96: #eff6eb,
  ),
  neutral-variant: (
    0: #000000,
    10: #131e14,
    20: #283328,
    25: #333e33,
    30: #3e4a3e,
    35: #4a5549,
    40: #566254,
    50: #6e7a6c,
    60: #889485,
    70: #a2af9f,
    80: #bdcaba,
    90: #d9e6d5,
    95: #e7f4e3,
    98: #f0fdec,
    99: #f6fff1,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_green-rest: (
  secondary: map.get($_green-palette, secondary),
  neutral: map.get($_green-palette, neutral),
  neutral-variant: map.get($_green-palette,  neutral-variant),
  error: map.get($_green-palette, error),
);

$green-primary-palette: map.merge(map.get($_green-palette, primary), $_green-rest);
$green-tertiary-palette: map.merge(map.get($_green-palette, tertiary), $_green-rest);


$_yellow-palette: (
  primary: (
    0: #000000,
    10: #251a00,
    20: #3f2e00,
    25: #4c3800,
    30: #5a4300,
    35: #694e00,
    40: #785a00,
    50: #967200,
    60: #b68a00,
    70: #d7a400,
    80: #f7be1d,
    90: #ffdf9a,
    95: #ffefd3,
    98: #fff8f2,
    99: #fffbff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #251a00,
    20: #3f2e00,
    25: #4c3802,
    30: #59440c,
    35: #654f18,
    40: #725b23,
    50: #8d7439,
    60: #a98d50,
    70: #c5a867,
    80: #e2c380,
    90: #ffdf9a,
    95: #ffefd3,
    98: #fff8f2,
    99: #fffbff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #161f00,
    20: #283500,
    25: #324100,
    30: #3c4d00,
    35: #465900,
    40: #506600,
    50: #668100,
    60: #7e9b1d,
    70: #98b738,
    80: #b2d352,
    90: #cef06b,
    95: #dcfe77,
    98: #f3ffca,
    99: #fbffe2,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #201b11,
    20: #353025,
    25: #413b2f,
    30: #4c463a,
    35: #585245,
    40: #655d51,
    50: #7e7669,
    60: #989082,
    70: #b3aa9b,
    80: #cfc5b6,
    90: #ece1d1,
    95: #faefdf,
    98: #fff8f2,
    99: #fffbff,
    100: #ffffff,
    4: #120e05,
    6: #17130a,
    12: #241f15,
    17: #2f291f,
    22: #3a3429,
    24: #3e382d,
    87: #e3d9c9,
    92: #f2e7d7,
    94: #f7ecdc,
    96: #fdf2e2,
  ),
  neutral-variant: (
    0: #000000,
    10: #221b0b,
    20: #382f1e,
    25: #433a28,
    30: #4f4633,
    35: #5b513e,
    40: #675d49,
    50: #817660,
    60: #9b8f79,
    70: #b7aa92,
    80: #d3c5ac,
    90: #f0e1c7,
    95: #feefd5,
    98: #fff8f2,
    99: #fffbff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_yellow-rest: (
  secondary: map.get($_yellow-palette, secondary),
  neutral: map.get($_yellow-palette, neutral),
  neutral-variant: map.get($_yellow-palette,  neutral-variant),
  error: map.get($_yellow-palette, error),
);

$yellow-primary-palette: map.merge(map.get($_yellow-palette, primary), $_yellow-rest);
$yellow-tertiary-palette: map.merge(map.get($_yellow-palette, tertiary), $_yellow-rest);

$_purple-palette: (
  primary: (
    0: #000000,
    10: #20005f,
    20: #36187f,
    25: #41278a,
    30: #4d3496,
    35: #5941a3,
    40: #654db0,
    50: #7f67cb,
    60: #9981e7,
    70: #b39cff,
    80: #cdbdff,
    90: #e8deff,
    95: #f5eeff,
    98: #fdf7ff,
    99: #fffbff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #1e1539,
    20: #332b50,
    25: #3f365b,
    30: #4a4167,
    35: #564d74,
    40: #625981,
    50: #7b719b,
    60: #958bb6,
    70: #b0a5d1,
    80: #ccc0ee,
    90: #e8deff,
    95: #f5eeff,
    98: #fdf7ff,
    99: #fffbff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #3a0032,
    20: #5b0750,
    25: #69175c,
    30: #772568,
    35: #853175,
    40: #943e82,
    50: #b1569c,
    60: #ce70b7,
    70: #ec8ad3,
    80: #fface7,
    90: #ffd7f0,
    95: #ffecf5,
    98: #fff7f9,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1c1b21,
    20: #322f36,
    25: #3d3a41,
    30: #48454d,
    35: #545159,
    40: #605d65,
    50: #79767e,
    60: #938f97,
    70: #aea9b2,
    80: #cac5ce,
    90: #e6e0ea,
    95: #f5eff8,
    98: #fdf7ff,
    99: #fffbff,
    100: #ffffff,
    4: #0f0d13,
    6: #141219,
    12: #211f25,
    17: #2b2930,
    22: #36343b,
    24: #3a383f,
    87: #ded8e1,
    92: #ece6ef,
    94: #f2ecf5,
    96: #f7f1fb,
  ),
  neutral-variant: (
    0: #000000,
    10: #1d1a25,
    20: #322f3b,
    25: #3d3a46,
    30: #494552,
    35: #54505d,
    40: #615c6a,
    50: #7a7583,
    60: #948e9d,
    70: #aea9b8,
    80: #cac4d3,
    90: #e7e0f0,
    95: #f5eefe,
    98: #fdf7ff,
    99: #fffbff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_purple-rest: (
  secondary: map.get($_purple-palette, secondary),
  neutral: map.get($_purple-palette, neutral),
  neutral-variant: map.get($_purple-palette,  neutral-variant),
  error: map.get($_purple-palette, error),
);

$purple-primary-palette: map.merge(map.get($_purple-palette, primary), $_purple-rest);
$purple-tertiary-palette: map.merge(map.get($_purple-palette, tertiary), $_purple-rest);

:root {
  --theme-blue-light: #{map.get(map.get($_blue-palette, primary), 80)};
  --theme-red-light: #{map.get(map.get($_red-palette, primary), 80)};
  --theme-green-light: #{map.get(map.get($_green-palette, primary), 80)};
  --theme-yellow-light: #{map.get(map.get($_yellow-palette, primary), 80)};
  --theme-purple-light: #{map.get(map.get($_purple-palette, primary), 80)};
  --theme-blue-dark: #{map.get(map.get($_blue-palette, primary), 40)};
  --theme-red-dark: #{map.get(map.get($_red-palette, primary), 40)};
  --theme-green-dark: #{map.get(map.get($_green-palette, primary), 40)};
  --theme-yellow-dark: #{map.get(map.get($_yellow-palette, primary), 40)};
  --theme-purple-dark: #{map.get(map.get($_purple-palette, primary), 40)};
}