@use 'sass:map';
@use '@angular/material' as mat;

$_palettes: (
  primary: (
    0: #000000,
    10: #001c37,
    20: #00325a,
    25: #003d6c,
    30: #10497b,
    35: #225487,
    40: #306194,
    50: #4c7aaf,
    60: #6693ca,
    70: #81aee7,
    80: #a0c9ff,
    90: #d2e4ff,
    95: #eaf1ff,
    98: #f8f9ff,
    99: #fdfcff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #0b1c2f,
    20: #213145,
    25: #2d3c51,
    30: #38485d,
    35: #445469,
    40: #505f75,
    50: #68788f,
    60: #8292aa,
    70: #9cacc5,
    80: #b7c8e1,
    90: #d3e4fe,
    95: #eaf1ff,
    98: #f8f9ff,
    99: #fdfcff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #32053d,
    20: #4a1e54,
    25: #562960,
    30: #63356c,
    35: #6f4178,
    40: #7c4c85,
    50: #9765a0,
    60: #b37ebb,
    70: #cf98d7,
    80: #ecb3f4,
    90: #fdd6ff,
    95: #ffebfd,
    98: #fff7fa,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1a1c1f,
    20: #2e3034,
    25: #393b3f,
    30: #45474b,
    35: #515256,
    40: #5d5e62,
    50: #75777b,
    60: #8f9095,
    70: #aaabb0,
    80: #c6c6cb,
    90: #e2e2e7,
    95: #f0f0f5,
    98: #f9f9fe,
    99: #fdfcff,
    100: #ffffff,
    4: #0c0e12,
    6: #111317,
    12: #1e2023,
    17: #282a2e,
    22: #333539,
    24: #37393d,
    87: #d9dade,
    92: #e8e8ed,
    94: #ededf2,
    96: #f3f3f8,
  ),
  neutral-variant: (
    0: #000000,
    10: #171c23,
    20: #2c3138,
    25: #373c44,
    30: #42474f,
    35: #4e535b,
    40: #5a5f67,
    50: #727780,
    60: #8c919a,
    70: #a7abb5,
    80: #c2c7d0,
    90: #dee2ed,
    95: #edf1fb,
    98: #f8f9ff,
    99: #fdfcff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes,  neutral-variant),
  error: map.get($_palettes, error),
);

$primary-palette: map.merge(map.get($_palettes, primary), $_rest);
$tertiary-palette: map.merge(map.get($_palettes, tertiary), $_rest);