mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: var(--mat-sys-inverse-primary);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 100;
  
  &.dark-theme {
    box-shadow: 0 2px 6px rgba(255, 255, 255, 0.15);
  }
}

// TÍTULO DO SITE
.title {
  flex: 1;
  text-align: center;

  font-size: 36px;
  white-space: nowrap;
}

@media (max-width: 600px) {
  mat-toolbar {
    padding: 0 8px;
  }

  .title {
    font-size: 22px;
  }
}


// PAINEL DE CONFIGURAÇÕES
.settings-panel {
  position: absolute;
  top: 64px;
  right: 16px;

  width: 280px;
  padding: 20px;

  background: var(--mat-sys-surface-container-low)  ;

  border-radius: 4px;

  box-shadow:
    0 2px 6px rgba(0, 0, 0, 0.15);
  &.dark-theme {
    box-shadow: 0 2px 6px rgba(255, 255, 255, 0.15);
  }

  z-index: 1000;
}

.settings-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 20px;

  h2 {
    margin: 0;
    font-size: 20px;
  }
}

.settings-section {
  margin-bottom: 24px;

  label {
    display: block;
    margin-bottom: 10px;

    font-size: 14px;
    font-weight: 600;
  }
}

.settings-options {
  display: flex;
  gap: 8px;

  button {
    flex: 1;
    border-radius: 8px;

    &.selected {
      background: var(--mat-sys-primary);
      color: var(--mat-sys-on-primary);
    }
  }
}

.color-options {
  display: flex;
  gap: 12px;
}

.color-option {
  width: 36px;
  height: 36px;

  border: 3px solid transparent;
  border-radius: 50%;

  cursor: pointer;

  transition:
    transform 0.15s ease,
    border-color 0.15s ease;

  &:hover {
    transform: scale(1.1);
  }

  &.selected {
    border-color: var(--mat-sys-on-surface);
  }
}